flows.json
[{"id":"1d1dfe59.dd1262","type":"tab","label":"GamiTasks","disabled":false,"info":""},{"id":"abbed0cd.4df43","type":"group","z":"1d1dfe59.dd1262","name":"Tasks List","style":{"stroke":"#92d04f","fill":"#e3f3d3","label":true},"nodes":["aac40746.33e018","9af6ef7b.1bc13","f747539.ba421b"],"x":274,"y":1673,"w":478,"h":654},{"id":"55e2fc42.1291c4","type":"group","z":"1d1dfe59.dd1262","name":"ToDo List","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true},"nodes":["cf9c1a26.41ea38","fafd47f9.a067a8","164f74b0.d56c3b","d6876404.29d4a8","eee6b2c1.e0fac","c56cfbb7.247a48","c9c265bd.5c5e18","c4ad287.242bcd8","62a0544f.0199ec","914d6ca1.647af","c74ebe22.f68b1","b680927b.fb86","9d641daf.10f18","6c8ce574.66859c","a3c0e7e9.725a28"],"x":274,"y":1219,"w":692,"h":442},{"id":"3a68c9fe.0d4c36","type":"group","z":"1d1dfe59.dd1262","name":"Connexion","style":{"stroke":"#0070c0","fill":"#bfdbef","label":true},"nodes":["72b5e533.9e9a6c","37849434.2513ec","fbcafce6.c4c8c","9871e569.d1fb48","49587ef6.e878c","546a0820.39c9b8","328419e4.49e2b6","7be7d940.5d34f8","ad3201f0.e02f2","c456a44b.fd2328","df5762c3.bc14b","bb867fd8.8a1df"],"x":274,"y":19,"w":592,"h":302},{"id":"8330fd4f.21c","type":"group","z":"1d1dfe59.dd1262","name":"Users list","style":{"stroke":"#92d04f","fill":"#e3f3d3","label":true},"nodes":["d126bee0.e7384","cebb4e30.3237e","58fc497d.b64698","4d2bc5d0.6986dc"],"x":274,"y":2353,"w":558,"h":654},{"id":"b80cea75.3a8d88","type":"group","z":"1d1dfe59.dd1262","name":"Classement","style":{"stroke":"#6f2fa0","fill":"#dbcbe7","label":true},"nodes":["153592b2.fdf5fd","7a34a127.cc7c4","ff2f4ade.f766e8","109a42f9.fcd2ed"],"x":274,"y":353,"w":498,"h":474},{"id":"bdb41f3b.fd1d5","type":"group","z":"1d1dfe59.dd1262","name":"","style":{"stroke":"#777777","fill":"#d1d1d1","label":true},"nodes":["74ef8911.300798","723307f4.c48f58","d16e4329.8d066","8a4d577.fc591a8","73850a9a.cd3384","f3140bb8.02a388","b0a88e36.6948c","ffdb8d4.ca4777"],"x":34,"y":19,"w":192,"h":422},{"id":"207d37ef.9a5b18","type":"group","z":"1d1dfe59.dd1262","name":"History","style":{"stroke":"#6f2fa0","fill":"#dbcbe7","label":true},"nodes":["47c193fc.3664fc","7b63feac.a7f19","8e49b366.49374","c81cf47a.a56908","5faeb834.9809a8","a56a5448.da8708","6f3aa4f1.02dd1c","f7286b8e.358ca8","c3ee15cf.0b7b78"],"x":274,"y":859,"w":452,"h":342},{"id":"cebb4e30.3237e","type":"group","z":"1d1dfe59.dd1262","g":"8330fd4f.21c","name":"Users","style":{"label":true,"stroke":"#92d04f"},"nodes":["f3e8f1b3.ab18f","6ea962b.ec0b69c","ca5c7103.e75c","9e6b2001.a6023","e07b1568.b86168"],"x":334,"y":2379,"w":472,"h":222},{"id":"58fc497d.b64698","type":"group","z":"1d1dfe59.dd1262","g":"8330fd4f.21c","name":"IP address","style":{"stroke":"#92d04f","label":true},"nodes":["b91ff311.2c88e","b083d7c6.3a7048","c03ba887.40e488"],"x":334,"y":2619,"w":452,"h":82},{"id":"4d2bc5d0.6986dc","type":"group","z":"1d1dfe59.dd1262","g":"8330fd4f.21c","name":"New user","style":{"label":true,"stroke":"#92d04f"},"nodes":["46466122.e12bd","2ed7ef7a.c9bb3","3952edcc.979422","33229cce.cb1624","1c7bd86c.220c18"],"x":334,"y":2719,"w":322,"h":262},{"id":"9af6ef7b.1bc13","type":"group","z":"1d1dfe59.dd1262","g":"abbed0cd.4df43","name":"Domains","style":{"stroke":"#92d04f","label":true},"nodes":["4e3c5cbe.d3c4c4","1c9e1cd3.781e33","16eb8a39.d4a436","1a0ca8e2.001687","5df39a61.c44214"],"x":374,"y":1699,"w":272,"h":282},{"id":"f747539.ba421b","type":"group","z":"1d1dfe59.dd1262","g":"abbed0cd.4df43","name":"Edit Task","style":{"stroke":"#92d04f","label":true},"nodes":["6de01931.0cce28","f7aba9f3.8dcea8","e31ba14a.5e5d9","af344fa2.58afc","f95afb43.044da8","d3326b22.13ce98"],"x":414,"y":1999,"w":312,"h":302},{"id":"7a34a127.cc7c4","type":"group","z":"1d1dfe59.dd1262","g":"b80cea75.3a8d88","name":"Top ","style":{"label":true,"stroke":"#6f2fa0"},"nodes":["e3487a2c.93b848","a9a52e97.698a6","81d5db3.eff5228","7c9ee5f1.01d7ec","ef0b821f.1b283"],"x":354,"y":379,"w":372,"h":222},{"id":"ff2f4ade.f766e8","type":"group","z":"1d1dfe59.dd1262","g":"b80cea75.3a8d88","name":"","style":{"stroke":"#6f2fa0","label":true},"nodes":["ba249e3a.a474d","8be7777c.de2988","519bf847.1fae48"],"x":354,"y":619,"w":192,"h":182},{"id":"109a42f9.fcd2ed","type":"group","z":"1d1dfe59.dd1262","g":"b80cea75.3a8d88","name":"","style":{"stroke":"#6f2fa0","label":true},"nodes":["bf2ea89c.2a11d8","d4ddb055.3bf54"],"x":574,"y":679,"w":172,"h":122},{"id":"f7aba9f3.8dcea8","type":"ui_table","z":"1d1dfe59.dd1262","g":"f747539.ba421b","group":"77a982c3.ebb44c","name":"Tasks list","order":2,"width":6,"height":4,"columns":[{"field":"name","title":"Tâche","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":540,"y":2140,"wires":[["af344fa2.58afc"]]},{"id":"af344fa2.58afc","type":"ui_form","z":"1d1dfe59.dd1262","g":"f747539.ba421b","name":"","label":"Nouvelle tâche","group":"77a982c3.ebb44c","order":3,"width":0,"height":0,"options":[{"label":"Nom","value":"name","type":"text","required":false,"rows":null},{"label":"Toutes les n heures","value":"period","type":"number","required":false,"rows":null},{"label":"Gain","value":"price","type":"number","required":false,"rows":null},{"label":"Description","value":"description","type":"multiline","required":false,"rows":2},{"label":"#","value":"id","type":"number","required":false,"rows":null},{"label":"Domain","value":"id_domain","type":"number","required":false,"rows":null}],"formValue":{"name":"","period":"","price":"","description":"","id":"","id_domain":""},"payload":"","submit":"Sauvegarder","cancel":"Annuler","topic":"topic","topicType":"msg","splitLayout":false,"x":580,"y":2180,"wires":[["f95afb43.044da8"]]},{"id":"f95afb43.044da8","type":"function","z":"1d1dfe59.dd1262","g":"f747539.ba421b","name":"Insert/Update Task","func":"let now = new Date()\n\nif (msg.payload.id === null) {\n    msg.topic = 'INSERT INTO tasks(name,description,period,price,id_domain)'\n    + ' VALUES ( '\n    + '\"' + msg.payload.name + '\",'\n    + '\"' + msg.payload.description + '\",'\n    + msg.payload.period + ','\t\n    + msg.payload.price\t+ ','\n    + msg.payload.id_domain\t\n    + ')'\n}\nelse {\n    msg.topic = 'UPDATE tasks'\n    + ' SET ' \n    + 'name=\"' + msg.payload.name + '\",'\n    + 'description=\"' + msg.payload.description + '\",'\n    + 'period=' + msg.payload.period + ','\t\n    + 'price=' + msg.payload.price \n    + 'id_domain=' + msg.payload.id_domain \n    + ' where id=' + msg.payload.id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":2220,"wires":[["d3326b22.13ce98"]]},{"id":"cf9c1a26.41ea38","type":"function","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"Select next Tasks","func":"msg.topic = \"SELECT id as id_task,\"\n+ \" name,\"\n+ \" next_action,\"\n+ \" period\"\n+ \" from tasks t \"\n+ \" order by t.next_action\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1260,"wires":[["d6876404.29d4a8"]]},{"id":"fafd47f9.a067a8","type":"ui_table","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","group":"8602e996.d9ef78","name":"Waiting tasks","order":1,"width":6,"height":7,"columns":[{"field":"color","title":"","width":"1","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"name","title":"Tâche","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"next","title":"A faire pour","width":"70","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":510,"y":1400,"wires":[["62a0544f.0199ec","b680927b.fb86"]]},{"id":"164f74b0.d56c3b","type":"function","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"Insert History","func":"msg.topic='insert into history (id_task,id_user) '\n+ ' values ('\n+ msg.payload.id_task+','\n+ flow.get(\"id_user\")\n+ ')'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1440,"wires":[["eee6b2c1.e0fac"]]},{"id":"7c9ee5f1.01d7ec","type":"ui_chart","z":"1d1dfe59.dd1262","g":"7a34a127.cc7c4","name":"","group":"ea760987.33cb28","order":2,"width":5,"height":4,"label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":520,"wires":[[]]},{"id":"6de01931.0cce28","type":"function","z":"1d1dfe59.dd1262","g":"f747539.ba421b","name":"Select Tasks","func":"msg.topic = \"select * from tasks \"\n+\" where id_domain=\"+msg.payload\n+\" order by name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":2040,"wires":[["e31ba14a.5e5d9"]]},{"id":"e31ba14a.5e5d9","type":"mysql","z":"1d1dfe59.dd1262","g":"f747539.ba421b","mydb":"9dd989bc.8cfc08","name":"","x":520,"y":2080,"wires":[["f7aba9f3.8dcea8"]]},{"id":"d3326b22.13ce98","type":"mysql","z":"1d1dfe59.dd1262","g":"f747539.ba421b","mydb":"9dd989bc.8cfc08","name":"","x":600,"y":2260,"wires":[["6de01931.0cce28"]]},{"id":"d6876404.29d4a8","type":"mysql","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","mydb":"9dd989bc.8cfc08","name":"","x":460,"y":1300,"wires":[["c4ad287.242bcd8"]]},{"id":"eee6b2c1.e0fac","type":"mysql","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","mydb":"9dd989bc.8cfc08","name":"","x":880,"y":1440,"wires":[["c56cfbb7.247a48"]]},{"id":"e3487a2c.93b848","type":"function","z":"1d1dfe59.dd1262","g":"7a34a127.cc7c4","name":"Task group by User","func":"msg.topic = \"select u.id as id_user,u.name,sum(t.price) as points \"\n+\"  from history h\"\n+\"    left join users u\"\n+\"      on h.id_user=u.id\"\n+\"    left join tasks t\"\n+\"      on h.id_task=t.id\"\n+\" group by u.id,u.name\"\n+\" order by u.name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":420,"wires":[["a9a52e97.698a6"]]},{"id":"a9a52e97.698a6","type":"mysql","z":"1d1dfe59.dd1262","g":"7a34a127.cc7c4","mydb":"9dd989bc.8cfc08","name":"","x":460,"y":460,"wires":[["81d5db3.eff5228","ef0b821f.1b283"]]},{"id":"81d5db3.eff5228","type":"function","z":"1d1dfe59.dd1262","g":"7a34a127.cc7c4","name":"Array -> Chart","func":"var Data = []\nvar Users = []\n\nmsg.payload.forEach(function(item){\n    Users.push(item.name)\n    Data.push(item.points)\n})\nmsg.payload = [{\n    \"series\": [ \"points\" ],\n    \"data\":   [ Data ],\n    \"labels\": Users\n}]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":520,"wires":[["7c9ee5f1.01d7ec"]]},{"id":"c56cfbb7.247a48","type":"link out","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"Update history","links":["153592b2.fdf5fd","c9c265bd.5c5e18"],"x":915,"y":1480,"wires":[]},{"id":"153592b2.fdf5fd","type":"link in","z":"1d1dfe59.dd1262","g":"b80cea75.3a8d88","name":"Classement","links":["c56cfbb7.247a48","d16e4329.8d066"],"x":315,"y":420,"wires":[["e3487a2c.93b848"]]},{"id":"72b5e533.9e9a6c","type":"ui_ui_control","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"Connect event","events":"connect","x":380,"y":60,"wires":[["fbcafce6.c4c8c"]]},{"id":"37849434.2513ec","type":"debug","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"fbcafce6.c4c8c","type":"function","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"User by Ip","func":"let [a,b,c,d]=msg.socketip.split('.')\nmsg.topic = \"select distinct u.* from ips i left join users u on i.id_user=u.id where ip=\"+d\n\nreturn [ msg, { \"payload\": d } ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":100,"wires":[["9871e569.d1fb48"],["df5762c3.bc14b"]],"icon":"node-red/db.svg"},{"id":"546a0820.39c9b8","type":"ui_ui_control","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"Change Tab","events":"change","x":650,"y":280,"wires":[[]]},{"id":"9871e569.d1fb48","type":"mysql","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","mydb":"9dd989bc.8cfc08","name":"","x":400,"y":140,"wires":[["37849434.2513ec","7be7d940.5d34f8"]]},{"id":"49587ef6.e878c","type":"ui_text","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","group":"ea760987.33cb28","order":1,"width":0,"height":0,"name":"","label":"Bonjour, ","format":"{{msg.payload}}","layout":"row-left","x":780,"y":240,"wires":[]},{"id":"328419e4.49e2b6","type":"change","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"Classement","rules":[{"t":"set","p":"tab","pt":"msg","to":"Classement","tot":"str"},{"t":"set","p":"user","pt":"flow","to":"payload.0.name","tot":"msg"},{"t":"set","p":"id_user","pt":"flow","to":"payload.0.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[["546a0820.39c9b8","c456a44b.fd2328"]]},{"id":"7be7d940.5d34f8","type":"switch","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"Not empty ?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":200,"wires":[["328419e4.49e2b6"],["ad3201f0.e02f2"]]},{"id":"ad3201f0.e02f2","type":"change","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"Utilisateurs","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Utilisateurs\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["546a0820.39c9b8"]]},{"id":"c456a44b.fd2328","type":"change","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"User","rules":[{"t":"set","p":"payload","pt":"msg","to":"user","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["49587ef6.e878c"]]},{"id":"6ea962b.ec0b69c","type":"mysql","z":"1d1dfe59.dd1262","g":"cebb4e30.3237e","mydb":"9dd989bc.8cfc08","name":"","x":460,"y":2460,"wires":[["ca5c7103.e75c"]]},{"id":"df5762c3.bc14b","type":"change","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"Ip","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["bb867fd8.8a1df"]]},{"id":"74ef8911.300798","type":"ui_ui_control","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Change Tab","events":"change","x":130,"y":60,"wires":[["723307f4.c48f58","ffdb8d4.ca4777","fbcafce6.c4c8c"]]},{"id":"46466122.e12bd","type":"ui_button","z":"1d1dfe59.dd1262","g":"4d2bc5d0.6986dc","name":"","group":"81da92b3.192f4","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":2760,"wires":[["2ed7ef7a.c9bb3"]]},{"id":"2ed7ef7a.c9bb3","type":"function","z":"1d1dfe59.dd1262","g":"4d2bc5d0.6986dc","name":"Insert Ip","func":"msg.topic=\"insert into ips (id_user,ip) values (\"\n+flow.get(\"id_user\")\n+','\n+flow.get(\"ip\")\n+')'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2800,"wires":[["3952edcc.979422"]]},{"id":"3952edcc.979422","type":"mysql","z":"1d1dfe59.dd1262","g":"4d2bc5d0.6986dc","mydb":"9dd989bc.8cfc08","name":"","x":460,"y":2840,"wires":[["33229cce.cb1624"]]},{"id":"1c7bd86c.220c18","type":"ui_toast","z":"1d1dfe59.dd1262","g":"4d2bc5d0.6986dc","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Nouvelle IP","name":"","x":540,"y":2940,"wires":[]},{"id":"723307f4.c48f58","type":"switch","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Onglet","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":180,"wires":[["d16e4329.8d066"],["8a4d577.fc591a8"],["73850a9a.cd3384"],["f3140bb8.02a388"],["b0a88e36.6948c"]]},{"id":"d16e4329.8d066","type":"link out","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Tab Classement ","links":["153592b2.fdf5fd"],"x":115,"y":240,"wires":[]},{"id":"8a4d577.fc591a8","type":"link out","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Tab A faire !","links":["c9c265bd.5c5e18"],"x":115,"y":280,"wires":[]},{"id":"c9c265bd.5c5e18","type":"link in","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"ToDo List","links":["8a4d577.fc591a8","c56cfbb7.247a48"],"x":315,"y":1260,"wires":[["cf9c1a26.41ea38"]]},{"id":"73850a9a.cd3384","type":"link out","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Tab Historique","links":["5faeb834.9809a8"],"x":115,"y":320,"wires":[]},{"id":"f3140bb8.02a388","type":"link out","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Tab Edit Task","links":["aac40746.33e018"],"x":115,"y":360,"wires":[]},{"id":"b0a88e36.6948c","type":"link out","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Tab Edit Utilisateurs","links":["d126bee0.e7384"],"x":115,"y":400,"wires":[]},{"id":"aac40746.33e018","type":"link in","z":"1d1dfe59.dd1262","g":"abbed0cd.4df43","name":"Edit Task","links":["f3140bb8.02a388"],"x":315,"y":1720,"wires":[["4e3c5cbe.d3c4c4"]]},{"id":"c4ad287.242bcd8","type":"function","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"Color, Next ","func":"var now = new Date()\nvar Payload = []\nmsg.payload.forEach(function(item){\n    item.color = delayColor(item.next_action,item.period)\n    item.next = dateFormat(item.next_action)\n    Payload.push(item)\n})\n\nfunction delayColor(tm,period) {\n    margin = period*360000\n    if (tm>(now.getTime() + margin))\n        return 'green'\n    else if (tm<(now.getTime() - margin))\n        return 'red'\nreturn 'orange'    \n}\n\nfunction dateFormat(tm) {\nlet DoW = ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.']\n    let next = new Date(tm)\n    let d = next.getDay() \nreturn DoW[d]+' '+next.getDate() \n}\n\nmsg.payload = Payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1360,"wires":[["fafd47f9.a067a8","c74ebe22.f68b1"]]},{"id":"ffdb8d4.ca4777","type":"debug","z":"1d1dfe59.dd1262","g":"bdb41f3b.fd1d5","name":"Menu","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"tab","targetType":"msg","statusVal":"payload","statusType":"auto","x":130,"y":100,"wires":[]},{"id":"47c193fc.3664fc","type":"ui_table","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","group":"d11008c5.c55508","name":"","order":2,"width":6,"height":9,"columns":[{"field":"user","title":"Qui","width":"50","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"task","title":"Quoi","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"done","title":"Quand","width":"90","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":470,"y":1040,"wires":[["6f3aa4f1.02dd1c"]]},{"id":"7b63feac.a7f19","type":"function","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","name":"Task group by User","func":"msg.topic = 'select h.id,' \n+'u.name as user,'\n+'t.name as task,'\n+'t.price as y,h.done as x,'\n+'DATE_FORMAT(h.done, \"%H:%i (%e.%c)\") as done'\n+\"  from history h\"\n+\"    left join users u\"\n+\"      on h.id_user=u.id\"\n+\"    left join tasks t\"\n+\"      on h.id_task=t.id\"\n+\" order by h.done desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":900,"wires":[["8e49b366.49374"]]},{"id":"8e49b366.49374","type":"mysql","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","mydb":"9dd989bc.8cfc08","name":"","x":460,"y":940,"wires":[["c81cf47a.a56908","47c193fc.3664fc"]]},{"id":"c81cf47a.a56908","type":"function","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","name":"Format Chart","func":"var Data=[]\nmsg.payload.forEach(function(item){\n    let user=item.user\n    if (typeof Data[user] === 'undefined')\n        Data[user] = [];\n        \n    Data[user].push({\n        \"x\": item.x,\n        \"y\": item.y\n    })\n})\n\n/*\n[{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1504029632890, \"y\": 5 },\n     { \"x\": 1504029636001, \"y\": 4 },\n     { \"x\": 1504029638656, \"y\": 2 }\n    ],\n    [{ \"x\": 1504029633514, \"y\": 6 },\n     { \"x\": 1504029636622, \"y\": 7 },\n     { \"x\": 1504029639539, \"y\": 6 }\n    ],\n    [{ \"x\": 1504029634400, \"y\": 7 },\n     { \"x\": 1504029637959, \"y\": 7 },\n     { \"x\": 1504029640317, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n}]\n*/\n\nmsg.payload = [{\n    \"series\": Object.keys(Data),\n    \"data\":   Object.values(Data),\n    \"labels\": [ \"\" ]\n}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1000,"wires":[["a56a5448.da8708"]]},{"id":"5faeb834.9809a8","type":"link in","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","name":"Historique","links":["73850a9a.cd3384"],"x":315,"y":900,"wires":[["7b63feac.a7f19"]]},{"id":"bb867fd8.8a1df","type":"debug","z":"1d1dfe59.dd1262","g":"3a68c9fe.0d4c36","name":"IP","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"914d6ca1.647af","type":"function","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"Update task","func":"let now=new Date() \nlet next_action=new Date(now.getTime() + (msg.payload.period*60*60*1000))\n\nmsg.topic='update tasks set '\n+ ' last_action=\"'+MysqlFormat(now)+'\",'\n+ ' next_action=\"'+MysqlFormat(next_action)+'\"'\n+ ' where id='+msg.payload.id_task\n\nfunction twoDigits(d) {\n    if(0 <= d && d < 10) return \"0\" + d.toString();\n    if(-10 < d && d < 0) return \"-0\" + (-1*d).toString();\n    return d.toString();\n}\n\nfunction MysqlFormat(date) {\n    return date.getUTCFullYear() + \"-\" + twoDigits(1 + date.getUTCMonth()) + \"-\" + twoDigits(date.getUTCDate()) + \" \" + twoDigits(date.getUTCHours()) + \":\" + twoDigits(date.getUTCMinutes()) + \":\" + twoDigits(date.getUTCSeconds());\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1480,"wires":[["eee6b2c1.e0fac"]]},{"id":"ef0b821f.1b283","type":"ui_table","z":"1d1dfe59.dd1262","g":"7a34a127.cc7c4","group":"ea760987.33cb28","name":"Qui a fait quoi ?","order":3,"width":5,"height":4,"columns":[{"field":"name","title":"Qui","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"points","title":"Points","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":500,"y":560,"wires":[["ba249e3a.a474d"]]},{"id":"62a0544f.0199ec","type":"ui_form","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"","label":"Tâche","group":"8602e996.d9ef78","order":2,"width":0,"height":0,"options":[{"label":"#","value":"id_task","type":"number","required":false,"rows":null},{"label":"Nom","value":"name","type":"text","required":false,"rows":null},{"label":"Prochain","value":"next_action","type":"text","required":false,"rows":null},{"label":"Période","value":"period","type":"text","required":false,"rows":null}],"formValue":{"id_task":"","name":"","next_action":"","period":""},"payload":"","submit":"J'ai fini!","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":510,"y":1440,"wires":[["164f74b0.d56c3b","914d6ca1.647af"]]},{"id":"c74ebe22.f68b1","type":"debug","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":1360,"wires":[]},{"id":"a56a5448.da8708","type":"ui_chart","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","name":"","group":"d11008c5.c55508","order":1,"width":6,"height":5,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":1000,"wires":[[]]},{"id":"6f3aa4f1.02dd1c","type":"ui_form","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","name":"","label":"","group":"d11008c5.c55508","order":3,"width":0,"height":0,"options":[{"label":"Qui","value":"user","type":"text","required":false,"rows":null},{"label":"Quoi","value":"task","type":"text","required":false,"rows":null},{"label":"#","value":"id","type":"number","required":false,"rows":null}],"formValue":{"user":"","task":"","id":""},"payload":"","submit":"Supprimer","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":500,"y":1080,"wires":[["f7286b8e.358ca8"]]},{"id":"f7286b8e.358ca8","type":"function","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","name":"Delete ID","func":"msg.topic = \"delete from history where id=\"+msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1120,"wires":[["c3ee15cf.0b7b78"]]},{"id":"c3ee15cf.0b7b78","type":"mysql","z":"1d1dfe59.dd1262","g":"207d37ef.9a5b18","mydb":"9dd989bc.8cfc08","name":"","x":560,"y":1160,"wires":[["7b63feac.a7f19"]]},{"id":"b680927b.fb86","type":"function","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"Select User by Task","func":"msg.topic = \"select u.name as user,h.done\"\n+ \" from history h\"\n+ \" left join users u\"\n+ \"   on h.id_user=u.id\"\n+ \" where h.id_task=\" + msg.payload.id_task\n+ \" order by h.done desc\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1520,"wires":[["a3c0e7e9.725a28","9d641daf.10f18"]]},{"id":"9d641daf.10f18","type":"mysql","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","mydb":"9dd989bc.8cfc08","name":"","x":540,"y":1560,"wires":[["6c8ce574.66859c"]]},{"id":"6c8ce574.66859c","type":"ui_table","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","group":"8602e996.d9ef78","name":"Who did it ?","order":3,"width":6,"height":6,"columns":[],"outputs":0,"cts":false,"x":570,"y":1620,"wires":[]},{"id":"ba249e3a.a474d","type":"function","z":"1d1dfe59.dd1262","g":"ff2f4ade.f766e8","name":"Task by User","func":"msg.topic = \"select h.done,t.name,t.price,d.name as domain\"\n+\"  from history h\"\n+\"    left join tasks t\"\n+\"      on h.id_task=t.id\"\n+\"    left join domains d\"\n+\"      on t.id_domain=d.id\"\n+\" where h.id_user=\"+msg.payload.id_user\n+\" order by h.done desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":660,"wires":[["8be7777c.de2988"]]},{"id":"8be7777c.de2988","type":"mysql","z":"1d1dfe59.dd1262","g":"ff2f4ade.f766e8","mydb":"9dd989bc.8cfc08","name":"","x":460,"y":700,"wires":[["519bf847.1fae48","bf2ea89c.2a11d8"]]},{"id":"519bf847.1fae48","type":"ui_table","z":"1d1dfe59.dd1262","g":"ff2f4ade.f766e8","group":"ea760987.33cb28","name":"","order":5,"width":5,"height":5,"columns":[{"field":"name","title":"Quoi","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"done","title":"Jours","width":"50","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"price","title":"Gain","width":"30","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":470,"y":760,"wires":[]},{"id":"a3c0e7e9.725a28","type":"debug","z":"1d1dfe59.dd1262","g":"55e2fc42.1291c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1540,"wires":[]},{"id":"33229cce.cb1624","type":"change","z":"1d1dfe59.dd1262","g":"4d2bc5d0.6986dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ip","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Nouvelle addresse IP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2900,"wires":[["1c7bd86c.220c18"]]},{"id":"1a0ca8e2.001687","type":"ui_dropdown","z":"1d1dfe59.dd1262","g":"9af6ef7b.1bc13","name":"","label":"","tooltip":"","place":"Domaine","group":"77a982c3.ebb44c","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":520,"y":1880,"wires":[["5df39a61.c44214"]]},{"id":"f3e8f1b3.ab18f","type":"function","z":"1d1dfe59.dd1262","g":"cebb4e30.3237e","name":"Select Users","func":"msg.topic=\"select * from users order by name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2420,"wires":[["6ea962b.ec0b69c"]]},{"id":"ca5c7103.e75c","type":"function","z":"1d1dfe59.dd1262","g":"cebb4e30.3237e","name":"Format Droplist","func":"var Options = []\nmsg.payload.forEach( function(item) {\n    let Obj = {}\n    Obj[item.name]=item.id\n    Options.push(Obj)\n}) \nmsg.options = Options;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2520,"wires":[["9e6b2001.a6023"]]},{"id":"d126bee0.e7384","type":"link in","z":"1d1dfe59.dd1262","g":"8330fd4f.21c","name":"Edit Users","links":["b0a88e36.6948c"],"x":315,"y":2420,"wires":[["f3e8f1b3.ab18f","b91ff311.2c88e"]]},{"id":"9e6b2001.a6023","type":"ui_dropdown","z":"1d1dfe59.dd1262","g":"cebb4e30.3237e","name":"","label":"","tooltip":"","place":"Qui es tu ?","group":"81da92b3.192f4","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":560,"y":2560,"wires":[["e07b1568.b86168"]]},{"id":"b91ff311.2c88e","type":"change","z":"1d1dfe59.dd1262","g":"58fc497d.b64698","name":"IP","rules":[{"t":"set","p":"payload","pt":"msg","to":"ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2660,"wires":[["b083d7c6.3a7048"]]},{"id":"e07b1568.b86168","type":"change","z":"1d1dfe59.dd1262","g":"cebb4e30.3237e","name":"set User","rules":[{"t":"set","p":"id_user","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2560,"wires":[[]]},{"id":"b083d7c6.3a7048","type":"ui_text_input","z":"1d1dfe59.dd1262","g":"58fc497d.b64698","name":"","label":"","tooltip":"","group":"81da92b3.192f4","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"topic","topicType":"msg","x":560,"y":2660,"wires":[["c03ba887.40e488"]]},{"id":"c03ba887.40e488","type":"change","z":"1d1dfe59.dd1262","g":"58fc497d.b64698","name":"set IP","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2660,"wires":[[]]},{"id":"4e3c5cbe.d3c4c4","type":"function","z":"1d1dfe59.dd1262","g":"9af6ef7b.1bc13","name":"Select Domains","func":"msg.topic = \"select * from domains order by name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1740,"wires":[["1c9e1cd3.781e33"]]},{"id":"16eb8a39.d4a436","type":"function","z":"1d1dfe59.dd1262","g":"9af6ef7b.1bc13","name":"Format Droplist","func":"var Options = []\nmsg.payload.forEach( function(item) {\n    let Obj = {}\n    Obj[item.name]=item.id\n    Options.push(Obj)\n}) \nmsg.payload= flow.get(\"id_domain\")\nmsg.options = Options;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1840,"wires":[["1a0ca8e2.001687"]]},{"id":"1c9e1cd3.781e33","type":"mysql","z":"1d1dfe59.dd1262","g":"9af6ef7b.1bc13","mydb":"9dd989bc.8cfc08","name":"","x":480,"y":1780,"wires":[["16eb8a39.d4a436"]]},{"id":"5df39a61.c44214","type":"change","z":"1d1dfe59.dd1262","g":"9af6ef7b.1bc13","name":"set Domain","rules":[{"t":"set","p":"id_domain","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1940,"wires":[["6de01931.0cce28"]]},{"id":"d4ddb055.3bf54","type":"ui_chart","z":"1d1dfe59.dd1262","g":"109a42f9.fcd2ed","name":"Pie","group":"ea760987.33cb28","order":4,"width":5,"height":7,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"50","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":760,"wires":[[]]},{"id":"bf2ea89c.2a11d8","type":"function","z":"1d1dfe59.dd1262","g":"109a42f9.fcd2ed","name":"Pie Chart","func":"var Data=[]\nmsg.payload.forEach(function(item){\n    let domain=item.domain\n    if (typeof Data[domain] === 'undefined')\n        Data[domain] = item.price;\n    else   \n        Data[domain] +=item.price\n})\n\nmsg.payload = [{\n    \"labels\": Object.keys(Data),\n    \"data\":   [ Object.values(Data) ],\n    \"series\": [ \"\" ]\n}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":720,"wires":[["d4ddb055.3bf54"]]},{"id":"77a982c3.ebb44c","type":"ui_group","name":"Liste","tab":"4fd9a49a.044a4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8602e996.d9ef78","type":"ui_group","name":"Tâches en attente","tab":"f49c3d96.81044","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea760987.33cb28","type":"ui_group","name":"Classement","tab":"e1df6a36.2e9838","order":1,"disp":false,"width":"5","collapse":false},{"id":"9dd989bc.8cfc08","type":"MySQLdatabase","name":"","host":"core-mariadb","port":"3306","db":"gamitasks","tz":"","charset":"UTF8"},{"id":"81da92b3.192f4","type":"ui_group","name":"Inconnu ?","tab":"b08b5d9.165f6a","order":1,"disp":true,"width":"6","collapse":false},{"id":"d11008c5.c55508","type":"ui_group","name":"Tâches terminées","tab":"c176bfc0.3e6e1","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fd9a49a.044a4c","type":"ui_tab","name":"Tâches","icon":"fa-list","order":4,"disabled":false,"hidden":false},{"id":"f49c3d96.81044","type":"ui_tab","name":"A faire !","icon":"fa-check-square-o","order":2,"disabled":false,"hidden":false},{"id":"e1df6a36.2e9838","type":"ui_tab","name":"Classement","icon":"fa-trophy","order":1,"disabled":false,"hidden":false},{"id":"b08b5d9.165f6a","type":"ui_tab","name":"Utilisateurs","icon":"fa-user-circle-o","order":5,"disabled":false,"hidden":false},{"id":"c176bfc0.3e6e1","type":"ui_tab","name":"Historique","icon":"fa-history","order":3,"disabled":false,"hidden":false}]